@import '../../../sass/variables';
@import "../../../sass/tools/tools.mixins";

.Paper {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  margin: 0;
  z-index: 15000;

  @include mq('fromto', 769, 1281) {
    width: 50%;
    left: unset;
  }
}

.SliderWrap {
  @include mq('fromto', 769, 1281) {
    width: 100%;
    display: block;
  }
}

.SlideHeadline {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 20px;

  h2 {
    margin-bottom: 0;
    margin-left: 10px;
  }
}

.SlideDescription {
  display: flex;
}

.ArrowRight {
  width: 20px;
  height: 20px;
  
  padding: 3px 3px;
    &:hover {
        border: 1px solid $color-grey-light;
        border-radius: 50%
    }
    svg {
      width: 12px;
      height: 12px;
      path {
        fill: #000;
      }
    }
}

.ArrowLeft {
  width: 20px;
  height: 20px;
  
  padding: 3px 4px;
    &:hover {
        border: 1px solid $color-grey-light;
        border-radius: 50%
    }
    svg {
      width: 12px;
      height: 12px;
      path {
        fill: #000;
      }
    }
}