@import '../../../../sass/variables';
@import '../../../../sass/tools/tools.mixins';


.NavSettings {
	display: flex;
	color:$color-blue;

	.Tab {
			width: auto;
			height: 47px;
			font-weight: $weight-bold;
			display: flex;
			align-items: center;
			background-color: #fff;
			padding: 15px;
			border: 1px solid #ddd;

			@include background-hover($color-white, $color-main) {
					color: $color-white;
					path {
						 fill: $color-white;
					}
			}


	}
}

/* .NavIcon {
	margin: 0 13px;
	width: 19px;
	height: 19px;
	padding-top: 4px;
	path {
			fill: $color-blue;
	}
} */

.ActiveTab {
	background-color: $color-main !important;
	color: $color-white;
	position: relative;
  border: 1px solid transparent!important;
	path {
			fill: $color-white;
	 }
	 &:after {
			content: url(../../../../assets/images/icons/arrow_down_icon.svg);
			position: absolute;
			bottom: -18px;
			width: 21px;
			height: 19px;
			left: 50%;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
			path {
					fill: $color-white;
			 }
	}
}