
.CustomSelectWrap {
  width: 100%;
  display: flex;
  flex-direction: column;

  .CustomSelect {
    margin-bottom: 25px;
    border: 1px solid #83a8d4;
    background-color: #d1dff0;
    select {
      padding: 10px 15px;
    }
  }
}