@import '../../../sass/variables';

.Avatar {
  background: $color-blue-light;
  img {
    margin: 0;
  }

  &--generic {
    img {
      padding: 25% !important;
      object-fit: contain !important;
    }
  }
}