@import '../../../sass/variables';
@import "../../../sass/tools/tools.mixins";

.Popover {
  top: -18px!important;

  @include mq('to', 601, '') {
    top: -26px !important;
    left: -57px!important;
  }
  
  .Paper {
    padding: 25px 25px;
    background-color: $color-white;
    font-size: $font-size-tiny;
    font-weight: $weight-semibold;
    max-width: 300px;
    min-width: 150px;
    text-align: center;
  }
  &:after {
    content: url(../../../assets/images/icons/arrow_down_white_icon.svg);
    bottom: -20px;
    width: 21px;
    height: 21px;
    left: 50%;
    position: absolute;
    left: 46%;

      @include mq('to', 601, '') {
        left: 65%;
      }
    
    box-sizing: border-box;
    border: 10px solid black;
    border-color: transparent transparent #fff #fff;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-shadow: -3px 2px 3px -1px rgba(0, 0, 0, 0.3);  
    path {
        fill: $color-white;
    }
  }

}
.Anchor {
  cursor: pointer;
}

.Close {
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
}