@import '../../../sass/variables';

.TooltipWrap {
  position: relative;
  .Tooltip {
    position: absolute;
    top: -109px;
    left: -140px;
    min-width: 279px;
    background-color: $color-white;
    padding: 20px;
    box-shadow: 0 1px 6px rgba(29, 44, 45, 0.3);
    &:after {
      content: url(../../../assets/images/icons/arrow_down_white_icon.svg);
      position: absolute;
      bottom: -18px;
      width: 21px;
      height: 19px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      path {
          fill: $color-white;
       }
     
    }
    .Close {
      position: absolute;
      top: 4px;
      right: 4px;
    }
  }

}


