@import "../../sass/variables";
@import '../../sass/tools/tools.mixins';

.Snackbar {
	position: absolute !important;
	top: 0 ;
		@include mq('to', 769, '') {
			top: 0% !important;
    	z-index: 22000!important;
		}
}

.SnackbarContent {
	width: 500px !important;
		@include mq('to', 769, '') {
			max-width: 300px;
		}
	position: relative;
	padding: 1em 22px 15px 22px !important;
	font-size: $font-size-normal !important;
}

.SnackbarConfirm {
	background-color: $color-main !important;
}

.SnackbarError {
	background-color: $color-red !important;
}

.SnackbarInfo {
	background-color: $color-blue !important;
}

.CloseButton {
	position: absolute !important;
	top: 0;
	right: 0;
	color: $color-white !important;
	padding: 10px !important;
	svg {
		font-size: 20px !important;
	}
}

.Message {
	margin: 0 !important;
}
