.HomePageWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px 0;
  position: relative;

  h1 {
    margin-top: 40px;
  }

  .FormWrap {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 40px 0;

    form {
      .HomePageFormField {
        padding: 0 20px;
      }

      .HomePageResetButton {
        position: absolute;
        padding: 7px;
        margin-left: 15px;

        img {
          margin: 0;
        }
      }
    }
  }

  .LocationHomeWrap,
  .LocationHomeCard {
    width: 100%;
  }

  .LocationHomeCard {
    max-width: 96%;
    padding: 40px;
    width: 100%;
    margin: 0 auto 35px;
    min-height: 353px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .LocationsHomeWrap {
    width: 100%;

    .LocationsHomeRow {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;

      .LocationHomeColumn {
        width: 50%;
      }
    }
  }
}
